In [1]:
import pandas as pd

In [2]:
# Load CSV
df = pd.read_csv("Listing_Titles.tsv", keep_default_na=False, na_values=None, sep="\t")

In [3]:
df = df[5000:30000].copy()

In [13]:
# Load CSV
df1 = pd.read_csv("output_df_cat1.csv")

In [17]:
# Load CSV
df2 = pd.read_csv("output_df_cat2.csv")

In [18]:
df1

,Record Number,Category,Aspect Name,Aspect Value
0,5001,1,Kompatible_Fahrzeug_Marke,OPEL
1,5001,1,Kompatibles_Fahrzeug_Modell,ASTRA H 1 . 7 CDTI
2,5001,1,Produktart,SET
3,5001,1,Anzahl_Der_Einheiten,2
4,5001,1,Im_Lieferumfang_Enthalten,Bremsscheiben
...,...,...,...,...
114736,29998,1,Bremsscheibenart,Belüftet
114737,29999,1,Im_Lieferumfang_Enthalten,Bremsschlauch
114738,29999,1,Kompatible_Fahrzeug_Marke,TRISCAN
114739,29999,1,Herstellernummer,8150
114740,29999,1,Herstellernummer,29339

In [19]:
df2

        Record Number  Category                Aspect Name      Aspect Value
0                5005         2       Anzahl_Der_Einheiten                1x
1                5005         2                 Hersteller              DOLZ
2                5005         2  Im_Lieferumfang_Enthalten       WASSERPUMPE
3                5005         2                 Produktart    ZAHNRIEMENSATZ
4                5005         2           Herstellernummer             KD046
...               ...       ...                        ...               ...
100554          30000         2                 Produktart  Steuerkettensatz
100555          30000         2  Im_Lieferumfang_Enthalten       Steuerkette
100556          30000         2                 Produktart           RepSatz
100557          30000         2                 Produktart     Reparatursatz
100558          30000         2           Herstellernummer       559 0037 10

[100559 rows x 4 columns]

In [51]:
df12 = pd.concat([df1, df2], ignore_index=True)

In [57]:
df12[df12.isna().any(axis=1)]

Empty DataFrame
Columns: [Record Number, Category, Aspect Name, Aspect Value]
Index: []

In [58]:
#df12[df12['Record Number']==14180]
#df12.iloc[25517]

In [59]:
df12 = df12.dropna()

In [60]:
len(df12['Record Number'].unique())

25000

In [61]:
df12.dtypes

Record Number     int64
Category          int64
Aspect Name      object
Aspect Value     object
dtype: object

In [63]:
import csv
df12.to_csv('submission_file.tsv', sep="\t", index=False)#, quoting=csv.QUOTE_NONE)