In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Tagged_Titles_Train.tsv', keep_default_na=False, na_values=None, sep="\t")

In [3]:
df

,Record Number,Category,Title,Token,Tag
0,1,2,MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...,MINI,Kompatible_Fahrzeug_Marke
1,1,2,MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...,1.6,Kompatibles_Fahrzeug_Modell
2,1,2,MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...,W10B16A,Herstellernummer
3,1,2,MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...,W11B16A,
4,1,2,MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...,R50,
...,...,...,...,...,...
56807,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,Opel,Kompatible_Fahrzeug_Marke
56808,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,Saab,Kompatibles_Fahrzeug_Modell
56809,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,1.8,
56810,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,/,O
56811,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,1.8,Kompatibles_Fahrzeug_Modell

In [4]:
df[df['Record Number']==4881][['Token','Tag']]

                  Token                          Tag
55459               FAI                   Hersteller
55460  Steuerkettensatz                   Produktart
55461            TCK124             Herstellernummer
55462               für                            O
55463                VW    Kompatible_Fahrzeug_Marke
55464                A3  Kompatibles_Fahrzeug_Modell
55465              (03-    Kompatibles_Fahrzeug_Jahr
55466                 )                            O
55467              GOLF  Kompatibles_Fahrzeug_Modell
55468                 V  Kompatibles_Fahrzeug_Modell
55469              (04-    Kompatibles_Fahrzeug_Jahr
55470                 )                            O

## If a token starts or ends with a puncuation, remove it. Now manage the neighbouring tokens
## Check if a token starts or ends with puncuation and tag is empty
## Check unit length tokens and if they're not 'O'. Then check neighbouring tokens and combine

In [410]:
single_char_tokens = df[df['Token'].str.len() == 1]
#single_char_tokens = df[(df['Token'].str.len() == 1) & (df['Tag'] == 'O')]
single_char_tokens

,Record Number,Category,Title,Token,Tag
16,2,1,ATE Power Disc Bremsenset Mercedes SLC + SLK V...,+,O
20,2,1,ATE Power Disc Bremsenset Mercedes SLC + SLK V...,+,O
25,3,1,Textar Bremsscheiben + Bremsbeläge hinten für ...,+,O
49,5,1,Bremsscheiben Bremsbeläge vorne hinten 5-Loch ...,G,Kompatibles_Fahrzeug_Modell
51,5,1,Bremsscheiben Bremsbeläge vorne hinten 5-Loch ...,A,
...,...,...,...,...,...
56767,4997,1,ATE Powerdisc Bremsscheiben + Beläge Hinterach...,+,O
56797,4999,1,2x Bremssattel Scheiben vorne für Audi A1 A2 A...,4,
56801,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,+,O
56803,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,+,O
56810,5000,2,BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...,/,O

In [411]:
single_char_tokens[single_char_tokens['Token']==')']

,Record Number,Category,Title,Token,Tag
54471,4789,1,BMW 330d (F31 ) gelochte Sport Bremsscheiben B...,),O
54810,4819,1,Belüftete Bremsscheiben ( Bremsen ) Beläge ( K...,),O
54814,4819,1,Belüftete Bremsscheiben ( Bremsen ) Beläge ( K...,),O
55466,4881,2,FAI Steuerkettensatz TCK124 für VW A3 (03- ) G...,),O
55470,4881,2,FAI Steuerkettensatz TCK124 für VW A3 (03- ) G...,),O

# Checking combination and base

## Replace parenthesis with empty string and other preprocessing

In [412]:
#df['Token'] = df['Token'].str.replace(r'[()]', '', regex=True).copy()
#df['Title'] = df['Title'].str.replace(r'[()]', '', regex=True).copy()
df['Title'] = df['Title'].str.replace(r'\s{2,}', ' ', regex=True)
df['Title'] = df['Title'].str.replace('\xa0', ' ', regex=True)
#df['Title'] = df['Title'].str.strip()
#df['Token'] = df['Token'].str.replace(r'\s{2,}', ' ', regex=True)
#df['Token'] = df['Token'].str.strip()

## Combine tokens

In [413]:
combined_tokens_df = df.groupby('Record Number', sort=False)['Token'].apply(' '.join).reset_index()
combined_tokens_df

      Record Number                                              Token
0                 1  MINI 1.6 W10B16A W11B16A R50 Steuerkettensatz ...
1                 2  ATE Power Disc Bremsenset Mercedes SLC + SLK V...
2                 3  Textar Bremsscheiben + Bremsbeläge hinten für ...
3                 4  SKF VKMC02390 Zahnriemensatz mit WAPU für FIAT...
4                 5  Bremsscheiben Bremsbeläge vorne hinten 5-Loch ...
...             ...                                                ...
4995           4996  Textar Bremsscheiben 300mm + Beläge hinten für...
4996           4997  ATE Powerdisc Bremsscheiben + Beläge Hinterach...
4997           4998    FAI AutoParts TCK62 Timing Chain Kit for SUZUKI
4998           4999  2x Bremssattel Scheiben vorne für Audi A1 A2 A...
4999           5000  BOSCH Zahnriemen + Rollensatz + MEYLE Wasserpu...

[5000 rows x 2 columns]

## Merge dataframes, replace non-breaking spaces, extra spaces

In [414]:
merged_df = pd.merge(df[['Record Number', 'Title']], combined_tokens_df, on = 'Record Number')
merged_df = merged_df.drop_duplicates()

# Below is the preprocessing methods after analyzing the Titles and Tokens

In [415]:
#merged_df['Title'] = merged_df['Title'].str.strip()
#merged_df['Title'] = merged_df['Title'].str.replace(r'\s{2,}', ' ', regex=True)
#merged_df['Title'] = merged_df['Title'].str.replace('\xa0', ' ', regex=True)
#merged_df['Token'] = merged_df['Token'].str.strip()
#merged_df['Token'] = merged_df['Token'].str.replace(r'\s{2,}', ' ', regex=True)
#merged_df['Token'] = merged_df['Token'].str.replace('\xa0', ' ', regex=True)

In [416]:
merged_df['match'] = merged_df['Title']==merged_df['Token']
merged_df['match'].sum()

5000

In [406]:
unequal_titles_df = merged_df[merged_df['match']==False].reset_index(drop=True)[['Record Number', 'Title', 'Token']]
unequal_titles_df

Empty DataFrame
Columns: [Record Number, Title, Token]
Index: []

In [269]:
unequal_titles_df['longer_string'] = unequal_titles_df.apply(
    lambda row: 'Title' if len(row['Title']) > len(row['Token']) 
    else ('Token' if len(row['Title']) < len(row['Token']) else 'equal'),
    axis=1
)

ValueError: Cannot set a DataFrame with multiple columns to the single column longer_string

In [240]:
unequal_titles_df['longer_string'].value_counts()

Token    3
Name: longer_string, dtype: int64

In [241]:
for i in range(3):
    a = unequal_titles_df[unequal_titles_df['longer_string']=='Token'].reset_index(drop=True).iloc[i]['Title']
    b = unequal_titles_df[unequal_titles_df['longer_string']=='Token'].reset_index(drop=True).iloc[i]['Token']
    #print('Equal:',unequal_titles_df[unequal_titles_df['longer_string']=='equal'].reset_index(drop=True).iloc[i]['Title']==unequal_titles_df[unequal_titles_df['longer_string']=='equal'].reset_index(drop=True).iloc[i]['Token'])
    #if '\xa0' in a:
     #   print("Non-breaking space found in a!")
    #if '\xa0' in b:
     #   print("Non-breaking space found in b!")
    print(a)
    print(b)

BMW 330d F31 gelochte Sport Bremsscheiben Beläge Verschleißkabel Zimmermann
BMW 330d F31  gelochte Sport Bremsscheiben Beläge Verschleißkabel Zimmermann
Belüftete Bremsscheiben Bremsen Beläge Klötze vorne VW Polo 9N**
Belüftete Bremsscheiben  Bremsen  Beläge  Klötze  vorne VW Polo 9N**
FAI Steuerkettensatz TCK124 für VW A3 03- GOLF V 04-
FAI Steuerkettensatz TCK124 für VW A3 03-  GOLF V 04-