In [1]:
import pandas as pd

In [2]:
# Load CSV
df = pd.read_csv("submission_file.tsv", keep_default_na=False, na_values=None, sep="\t")

In [3]:
df

,Record Number,Category,Aspect Name,Aspect Value
0,5001,1,Kompatible_Fahrzeug_Marke,OPEL
1,5001,1,Kompatibles_Fahrzeug_Modell,ASTRA H 1 . 7 CDTI
2,5001,1,Produktart,SET
3,5001,1,Anzahl_Der_Einheiten,2
4,5001,1,Im_Lieferumfang_Enthalten,Bremsscheiben
...,...,...,...,...
215293,30000,2,Produktart,Steuerkettensatz
215294,30000,2,Im_Lieferumfang_Enthalten,Steuerkette
215295,30000,2,Produktart,RepSatz
215296,30000,2,Produktart,Reparatursatz
215297,30000,2,Herstellernummer,559 0037 10

In [9]:
names_to_check = ['Anwendung', 'Anzahl Der Einheiten', 'Besonderheiten', 'Breite', 
                  'Bremsscheiben-Aussendurchmesser','Bremsscheibenart', 'Einbauposition', 'Farbe',
                  'Größe', 'Hersteller', 'Herstellernummer', 'Herstellungsland_Und_-Region',
                  'Im_Lieferumfang_Enthalten', 'Kompatible_Fahrzeug_Marke', 'Kompatibles_Fahrzeug_Jahr',
                  'Kompatibles_Fahrzeug_Modell', 'Länge', 'Material', 'Maßeinheit', 'Menge', 'Modell',
                  'O', 'Oberflächenbeschaffenheit', 'Oe/Oem_Referenznummer(N)', 'Produktart', 'Produktlinie',
                  'SAE_Viskosität', 'Stärke', 'Technologie', 'Zähnezahl']

In [10]:
existing_names = df['Aspect Name'].unique()
missing_names = [name for name in names_to_check if name not in existing_names]
print("Missing names:", missing_names)

Missing names: ['Anzahl Der Einheiten', 'Herstellungsland_Und_-Region', 'O', 'Technologie', 'Zähnezahl']

Anzahl Der Einheiten - (Number of Units) - Examples: 2, 2x, 2Pcs, 2 X, 2-teilig
Herstellungsland_Und_-Region - (Country/Region of Manufacture) - Examples: Japan, GERMANY , USA
Zähnezahl - (Number of Teeth) -  Examples: 125, 125-Zähne
O - (Obscure) - Examples: für, +, - , passend, und, Ø, mit, /, DER, NEU
Technologie - (Technology) - Examples: ABS, Abs, Anti-lock Braking System

In [5]:
df['Aspect Name'].value_counts()

Aspect Name
Kompatibles_Fahrzeug_Modell        53883
Kompatible_Fahrzeug_Marke          31930
Im_Lieferumfang_Enthalten          28646
Produktart                         24817
Hersteller                         22132
Herstellernummer                   17292
Einbauposition                     12512
Kompatibles_Fahrzeug_Jahr           8102
Bremsscheiben-Aussendurchmesser     4931
Anzahl_Der_Einheiten                3936
Oe/Oem_Referenznummer(N)            2059
Bremsscheibenart                    1859
Modell                              1387
Besonderheiten                       565
Maßeinheit                           538
Material                             277
Produktlinie                         176
Anwendung                             67
Oberflächenbeschaffenheit             40
Farbe                                 38
Größe                                 29
Menge                                 29
Breite                                28
Stärke                                19
SAE_Viskosität                         4
Länge                                  2
Name: count, dtype: int64

In [11]:
df[df['Aspect Value']=='.']

        Record Number  Category                      Aspect Name Aspect Value
14               5002         1                 Herstellernummer            .
52               5009         1        Im_Lieferumfang_Enthalten            .
275              5056         1  Bremsscheiben-Aussendurchmesser            .
585              5120         1      Kompatibles_Fahrzeug_Modell            .
692              5141         1                       Hersteller            .
...               ...       ...                              ...          ...
214867          29912         2         Oe/Oem_Referenznummer(N)            .
214920          29918         2      Kompatibles_Fahrzeug_Modell            .
214928          29919         2                 Herstellernummer            .
215048          29946         2                 Herstellernummer            .
215243          29987         2                 Herstellernummer            .

[1800 rows x 4 columns]

In [12]:
df[df['Aspect Value'].str.len() == 1]

        Record Number  Category                  Aspect Name Aspect Value
3                5001         1         Anzahl_Der_Einheiten            2
5                5001         1         Anzahl_Der_Einheiten            4
11               5002         1  Kompatibles_Fahrzeug_Modell            F
14               5002         1             Herstellernummer            .
20               5003         1  Kompatibles_Fahrzeug_Modell            -
...               ...       ...                          ...          ...
215274          29991         2             Herstellernummer            -
215287          29994         2  Kompatibles_Fahrzeug_Modell            H
215288          29994         2  Kompatibles_Fahrzeug_Modell            -
215289          29994         2  Kompatibles_Fahrzeug_Modell            1
215290          29994         2  Kompatibles_Fahrzeug_Modell            |

[19524 rows x 4 columns]

In [13]:
df[df['Record Number']==5008]

,Record Number,Category,Aspect Name,Aspect Value
114757,5008,2,Anzahl_Der_Einheiten,1x
114758,5008,2,Hersteller,INA
114759,5008,2,Produktart,Zahnriemensatz
114760,5008,2,Kompatible_Fahrzeug_Marke,Citroen
114761,5008,2,Kompatibles_Fahrzeug_Modell,Jumper 244 / 244D / 2 2
114762,5008,2,Kompatibles_Fahrzeug_Modell,1 244 / 244D / 2 2

# Remove puncuation only aspect names
# Remove spaces around '.' in each aspect value

In [14]:
import string
import re

In [16]:
# Use regex to match only-punctuation strings
df_no_punct = df[~df['Aspect Value'].str.fullmatch(rf"[{re.escape(string.punctuation)}]+")]

In [17]:
df_no_punct

,Record Number,Category,Aspect Name,Aspect Value
0,5001,1,Kompatible_Fahrzeug_Marke,OPEL
1,5001,1,Kompatibles_Fahrzeug_Modell,ASTRA H 1 . 7 CDTI
2,5001,1,Produktart,SET
3,5001,1,Anzahl_Der_Einheiten,2
4,5001,1,Im_Lieferumfang_Enthalten,Bremsscheiben
...,...,...,...,...
215293,30000,2,Produktart,Steuerkettensatz
215294,30000,2,Im_Lieferumfang_Enthalten,Steuerkette
215295,30000,2,Produktart,RepSatz
215296,30000,2,Produktart,Reparatursatz
215297,30000,2,Herstellernummer,559 0037 10

In [18]:
df_removed_spaces_around_period = df_no_punct.copy()

In [19]:
#only period
#df_removed_spaces_around_period['Aspect Value'] = df_removed_spaces_around_period['Aspect Value'].str.replace(r'\s*\.\s*', '.', regex=True)

#all punctuations
df_removed_spaces_around_period['Aspect Value'] = df_removed_spaces_around_period['Aspect Value'].str.replace(
    rf'\s*([{re.escape(string.punctuation)}])\s*', r'\1', regex=True
)

In [20]:
df_removed_spaces_around_period['Aspect Name'].value_counts()

Aspect Name
Kompatibles_Fahrzeug_Modell        49990
Kompatible_Fahrzeug_Marke          31003
Im_Lieferumfang_Enthalten          27788
Produktart                         23785
Hersteller                         21593
Herstellernummer                   14812
Einbauposition                     12167
Kompatibles_Fahrzeug_Jahr           5101
Bremsscheiben-Aussendurchmesser     4704
Anzahl_Der_Einheiten                3921
Bremsscheibenart                    1776
Oe/Oem_Referenznummer(N)            1439
Modell                              1283
Besonderheiten                       541
Maßeinheit                           538
Material                             267
Produktlinie                         176
Anwendung                             66
Oberflächenbeschaffenheit             40
Farbe                                 38
Größe                                 27
Menge                                 26
Breite                                25
Stärke                                19
SAE_Viskosität                         4
Länge                                  2
Name: count, dtype: int64

In [22]:
df_removed_spaces_around_period.to_csv('submission_file1.tsv', sep="\t", index=False)